[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

"github3-py" = ">=1.0a4"
agithub = "*"


[requires]

python_version = "3.6"


[dev-packages]

pudb = "*"
